
{% extends 'index.html' %}
{% block center %}
<!-- Page Header -->
<section class="intro intro-page" id="home" data-stellar-background-ratio="0.3">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="brand-heading">Exhibition <span class="yah">展示</span></h3>
					<div class="line"></div>
					<p class="intro-text"></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Page Header -->

<!-- Project content -->
<div class="project-single">
	<section class="project-content">
		<div class="container">
			<div class="row">



		<div class="project-info">

            <div class="col-md-12">

					<div id="project-slider" class="flexslider">
						<ul class="slides">
							<li><img src="/static/img/exhibition/bloom/IMG_3833.jpg" alt=""/></li>
							<li><img src="/static/img/exhibition/bloom/IMG_3839.jpg" alt=""/></li>
							<li><img src="/static/img/exhibition/bloom/IMG_3852.jpg" alt=""/></li>

					  </ul>
					</div>

		</div>

            <div class="col-md-5">

            	<h3 class="yah">绽放</h3>
                <p class="yah-bai color_gray"></p>
          </div>


		</div><!-- end section -->


	</div>

				<div class="space90"></div>

                    <a href="/#portfolio" class="btn1 yah">更多作品</a>


</div><!-- end main content area -->



			</div>
<!-- Project content -->
{% endblock %}
</html>